html, body {
    height: 100%;
    width: 100%; 
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.5;
    color: black;
    background-color: #fff;
}
img {
    max-width: 100%;
}
h1, h2 {
    margin-bottom: 15px;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}
ul {
    list-style: none;
}
.navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
  .navbar a:hover {
    color: lightblue;
}
.navbar {
    background: teal;
    color: white;
    height: 60px;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar ul {
    display: flex;
}
.navbar ul li {
    margin-left: 30px;
}
.navbar li a{
    color: white;
}
.header {
    background-image: url("/images/coverr.png");
    background-size: cover;
    min-height: 500px;
    /* height: 100%; */
}
.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}
.header img {
    max-width: 400px;
}
.navbar .logo {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 160px 0;
    padding-left: 20px;
}
.header .banner {
    display: flex;
}
.banner {
    margin: 100px 0 0 0; 
}
.banner h6 {
    padding: 20px;
}
.banner button {
    padding: 10px;
    border-radius: 10px;
    background-color: teal;
    color: white;
    border: 0.5px solid white;
}
.boxes {
    background-color: teal;
    color: white;
    padding-bottom: 20px;
}
.boxes .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
a:hover {
    background-color: aliceblue;
}
a:visited {
    color: teal;
}
a:active {
    color: slateblue;
}
  .banner {
    display: flex;
}
.flexbox .container {
    display: flex;
    flex-direction: row;
}
.flex-item {
    list-style: none;
    padding: 30px 30px;
}
#span {
    padding: 10px;
    background-color: white;
    color: teal;
    border-radius: 5px;
}
#span a { 
    text-decoration: none;
}
.flex-item img[src] {
    width: 300px;
    height: 200px;
    border: 1px solid white;
    border-radius: 5px;
}
.goals img[src] {
    width: 200px;
    padding: 10px;
}
  .education ul li {
    list-style-type: none;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0px 10%;
    background-color: white;
    color: teal;
}
.getintouch img[src] {
    width: 40px;
    height: 30px;
    padding: 0px 5px;
}
  .getintouch span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}
  
/* Responsiveness starts here*/
  
@media (max-width: 768px) {
    .header .container {
      flex-direction: column;
      padding-top: 20px;
      text-align: center;
    }
    .header img {
      max-width: 200px;
    }
    .boxes .container {
      display: block;
      text-align: center;
    }
} 