@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}
:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
    --Font-size: 18px;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--Dark-Grayish-Blue);
}
.container {
    width: 375px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-repeat: no-repeat;
}
a {
    color: white;
}
.header {
    background-color: teal;
    z-index: 3;
}
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: teal;
}
.header ul a {
    display: block;
    outline: .5px solid var(--Grayish-Blue);
    padding: 20px;
    border-right: 1px solid #aaa;
    text-decoration: none;
}
.header .logo {
    float: left;
    display: block;
}
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
.header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}
.header .menu-icon .nav-icon {
    background: white;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}
.header .menu-icon .nav-icon::before {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}
.header .menu-icon .nav-icon::after {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}
.header .menu-btn {
    display: none;
}
.header .menu-btn:checked ~ .menu {
    min-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0;
} li a:hover {
    color: var(--Dark-Grayish-Blue);
} 
.logo {
    width: 3rem;
    height: 3rem;
}
li a:hover {
    color: var(--Dark-Grayish-Blue);
}
section {
    padding-top: 40px;
}
.form {
    border: .5px solid teal;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    margin: 0 auto;
}
#passwordreset a, #signup a{
    text-decoration: none;
    color: var(--Grayish-Blue);
}
.dropdown {
    width: 25%;
    margin: 20px 0;
    color: teal;
}
#signin {
    width: 100%;
    margin: 20px 0;
    background-color: var(--Strong-Cyan);
    padding: 20px;
    border: 1px solid var(--Strong-Cyan);
    border-radius: 5px;
    color: white;
}
#signin:hover {
    cursor: pointer;
    background-color: var(--Grayish-Blue);
    transform: scale(0.88);
}
#signin:active {
    transform: scale(0.88);
}
.logo {
    width: 50px;
    margin: 5px;
    margin-left: 30px;
}
.logo-top {
    width: 200px;
}
.logo-bottom {
    width: 50px;
    margin-top: 70px;
    margin-bottom: 20px;
}
#footer {
    margin-top: 100px;
    background-color: rgba(234, 239, 244, 0.4);
    background-position: cover;
}
#footer a {
    text-decoration: none;
    color: var(--Grayish-Blue);
}
#footer a:hover {
    cursor: pointer;
    color: var(--Strong-Cyan);
}
.socials {
    display: flex;
    justify-content: center;
}
.socials img {
    margin: 10px;
    width: 40px;
    height: 30px;
    padding: 0px 5px;
}
#footer .socials img:hover {
    background-color: var(--Strong-Cyan);
}


/*VALIDATION STYLING CHANGES*/

.form-control>small {
    position: absolute;
    color: var(--Red);
    font-size: 0.65rem;
    font-style: italic;
    text-align: right;
    visibility: hidden;
}
.form-control input {
    padding: 15px 0;
    width: 100%;
    margin: 15px auto;
    border: 0;
    border-bottom: 1px solid var(--Grayish-Blue);
    border-radius: 5px;
    background-color: transparent;
    color: teal;
}
.form input:focus, .form-control input:valid {
    outline: 0;
}
.form-control label {
    color: var(--Grayish-Blue);
    position: absolute;
    top: 10px;
    left: 0;
}
.form-control label span {
    display: inline-block;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-control input:focus + label span, 
.form-control input:valid + label span {
    transform: translateY(-30px);
}
.form-control {
    position: relative;
}
.form-control>i {
    visibility: hidden;
    position: absolute;
}
.form-control.error input{
    border-color: red;
}
.form-control.error i.fa-exclamation-circle{ 
    color:rgb(255, 60, 0);
    /* visibility:visible */
}
.form-control.error small{
    /* visibility: visible; */
}
.form-control.success input{
    border-color: green;
}
.form-control.success i.fa-check-circle{
    color:green;
    /* visibility:visible */
}

/* Desktop Styling */

@media screen and (min-width: 48rem) {
    .container {
        margin: 0 auto;
        padding-top: 0;
        width: 100%;
        min-width: 1440px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        max-height: 4em;
        width: 100%;
    }
    .header .logo {
        float: none;
    }
    .header li a {
        padding: 20px 40px;
    }
    .header .menu {
        display: flex;
        clear: none;
        max-height: none;
    }
    .header .menu-btn:checked ~ .menu {
        min-height: 0px;
    }
    .header .menu-icon {
        display: none;
    }
    .header ul a {
        outline: none;
        border-right: none;
        height: 0;
    }
    li a:hover {
        color: var(--Dark-Grayish-Blue);
    }
    h1, h2, h3, h4, p {
        text-align: center;
        padding: 0 30%;
    }
    .form {
        /* background-color: teal; */
        border-radius: 10px;
        padding: 30px;
        width: 50%;
    }
    #footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #footer p {
        padding: 0;
        text-align: left;
        color: var(--Dark-Grayish-Blue);
    }
    #footer .logo-bottom {
       margin-bottom: 50px;
    }
    .socials img {
        margin: 10px;
    }
}
