@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}
:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
    --Font-size: 18px;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--Dark-Grayish-Blue);
}
.container {
    width: 375px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-image: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
}
nav {
    background-color: var(--Strong-Cyan);
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 30px;
}
li {
    padding: 5px;
}
nav li a {
    text-decoration: none;
    color: white;
}
li a:hover {
    color: var(--Dark-Grayish-Blue);
}
input {
    padding: 15px;
    width: 250px;
    margin: 20px 30px;
    border: .5px solid teal;
    border-radius: 5px;
}
#passwordreset a, #signup a{
    text-decoration: none;
    color: var(--Grayish-Blue);
}
input::placeholder {
    color: teal;
}
.dropdown {
    width: 25%;
    margin: 20px 0;
    color: teal;
}
#signin {
    width: 150px;
    margin: 20px 0;
    background-color: var(--Strong-Cyan);
    padding: 20px;
    border: 1px solid teal;
    border-radius: 5px;
    color: white;
}
#signin:hover {
    background-color: var(--Grayish-Blue);
}
.logo {
    width: 50px;
    margin: 5px;
    margin-left: 30px;
}
.logo-top {
    width: 200px;
}
.logo-bottom {
    width: 50px;
    margin-top: 70px;
    margin-bottom: 20px;
}
#footer {
    margin-top: 150px;
    background-color: rgba(234, 239, 244, 0.4);
    background-position: cover;
}
#footer a {
    text-decoration: none;
    color: var(--Grayish-Blue);
}
#footer a:hover {
    cursor: pointer;
    color: var(--Strong-Cyan);
}
.socials {
    display: flex;
    justify-content: center;
}
.socials img {
    margin: 10px;
    width: 40px;
    height: 30px;
    padding: 0px 5px;
}
#footer .socials img:hover {
    background-color: var(--Strong-Cyan);
}

/* Desktop Styling */

@media screen and (min-width: 600px) {
    .container {
        margin: 0 auto;
        padding-top: 0;
        width: 100%;
        min-width: 1440px;
        background-image: url(./images/bg-header-desktop.png);
    }
    nav {
        background-color: var(--Strong-Cyan);
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    .navbar ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-right: 30px;
    }
    li {
        padding: 20px;
    }
    nav li a {
        text-decoration: none;
        color: white;
    }
    li a:hover {
        color: var(--Dark-Grayish-Blue);
    }
    h1, h2, h3, h4, p {
        text-align: center;
        padding: 0 30%;
    }
    #footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #footer p {
        padding: 0;
        text-align: left;
        color: var(--Dark-Grayish-Blue);
    }
    #footer .logo-bottom {
       margin-bottom: 50px;
    }
    .socials img {
        margin: 10px;
    }
}
